.timur{
    border: solid 1px red;
    width: 500px;
    height: 500px;
}
.img{
    animation: 5s lineKey linear infinite;
}
@keyframes lineKey {
    0%{

    }
    25%{
        margin-left: 440px;
        margin-top: 460px;
    }
    50%{
        margin-left: 0 ;
        margin-top: 450px;
    }
    75%{
        margin-left: 450px;
        margin-top: 0;

    }
    100%{
        margin-left: 0;
        margin-top: 0;
    }

}
.img{
    width: 60px;
}
.phone{
    margin: 50px;
    animation: 2s phoneKey linear infinite;
}
@keyframes phoneKey {
    from{
        transform: rotate3d(0,0,0,0turn);
    }
    to{
        transform: rotate3d(1,1,1,1turn);
    }

}
